@{
    ViewData["Title"] = "Politica de privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Nossa politica de privacidade é assim, assim e assado!.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio voluptas reprehenderit fuga vitae similique nesciunt nisi commodi veniam. Tenetur esse sit tempora fugit at quos asperiores voluptates sint pariatur similique.</p>
