<h1>Pagina quem somos</h1>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, rem. Nostrum eius neque assumenda rem. Saepe, sequi itaque. Quod, sequi vitae natus aspernatur nesciunt nisi earum omnis asperiores doloribus expedita.</p>

<a asp-controller="Home" asp-action="Index">Voltar pra Home</a>