
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


main > div{
    width: 90%;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}



/* Formulario */


.estilo-formulario {
    border: 2px solid #1e3a8a; /* azul escuro */
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    margin: auto;
    background-color: #ffffff;
}


#formulario{
    height: 600px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    gap: 5px;
}






#formulario > div{
    width: 100%;
}





#formulario > div > label{
    font-size: var(--tamanho-fonte-sm);
    font-weight: 500;
    padding-bottom: 5px;
}



.formulario-botao-verde{
    width: 100%;
    margin-top: 40px;
}


.estilo-formulario > p{
    font-weight: 200;
    font-size: var(--tamanho-fonte-sm);
    color: #4e4c4c;
}



#Secao-Conecte-se{
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
}


