/* 1 forma de utilizar uma fonte */
/* @import url('https://fonts.googleapis.com/css2?family=Oi&display=swap'); */

/* 2 forma de utilizar uma fonte */
@font-face {
    font-family: Lexend;
    src: url(../fonts/Fascinate\,Lexend\,Galada/Lexend),
        url(../fonts/Fascinate\,Lexend\,Galada/sans-serif);
}

@font-face {
    font-family: Fascinate;
    src: url(../fonts/Fascinate\,Lexend\,Galada/Fascinate),
        url(../fonts/Fascinate\,Lexend\,Galada/sans-serif);
}

@font-face {
    font-family: Galada;
    src: url(../fonts/Fascinate\,Lexend\,Galada/Galada),
        url(../fonts/Galada/Galada-Regular.ttf);
}


/* variaveis */
:root {
    --cor-preto: #000000;
    --cor-branco: #153F49;
    --cor-azul: #1F5D79;
    --cor-cinza-escuro1: #09678F;
    --cor-cinza-escuro2: #3783BD;
    --cor-cinza-escuro3: #949494;
    --cor-cinza-escuro4: #828282;
    --cor-cinza-medio: #c6c6c6;
    --cor-cinza-claro: #fafafa;

    --borda: 1px solid var(--cor-cinza-medio);
    --borda-arredondada: 2px;

    --tamanho-fonte-lg: 20px;
    --tamanho-fonte-md: 16px;
    --tamanho-fonte-sm: 14px;
}

/* SELETOR GLOBAL */
* {
    padding: 0;
    /*espaço interno*/
    margin: 0;
    /*espaço externo*/
    box-sizing: border-box;
    /*atribui espaços internos/externos e bordas no tamanho final do box*/
    font-family: "Segoe UI", sans-serif;
    outline-color: var(--cor-branco);

}

body {
    background:#c6c6c6
}

h1 {
    position: absolute;
    /*altera a posição do elemento*/
    z-index: -1;
    /*camadas do elemento*/
    opacity: 0;
    /*opacidade*/
}

/* formulario */
.formulario-botao-azul {
    background-color: var(--cor-azul);
    border-radius: var(--borda-arredondada);
    border: none;
    /*tira a borda*/
    height: 35px;

    color: var(--cor-branco);
    font-size: var(--tamanho-fonte-sm);
    font-weight: 600;
}

.formulario-campos>input {
    border: var(--borda);
    height: 35px;
    background-color: var(--cor-cinza-claro);

    color: var(--cor-cinza-escuro2);
    font-size: var(--tamanho-fonte-sm);
    border-radius: var(--borda-arredondada);
}

.formulario-campos>label {
    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-cinza-escuro2);
    font-weight: 600;
    /**/
}

.estilo-formulario {
    
    width: 100%;
    background-color: var(--cor-branco);
    border: var(--borda);
}

#campo-upload {
    display: none;
}

#texto-upload {
    display: inline-block;
    width: 100%;
    max-width: 300px;
    min-height: 35px;
    height: 35px;
    padding: 5px ;
    background-color: var(--cor-cinza-escuro1);
    color: var(--cor-cinza-escuro2);
    text-align: center;
    font-weight: 600;
    border-radius: var(--borda-arredondada);
}


/* cabeçalho */
#cabecalho {
    background-color: var(--cor-branco);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    /*Alinha os filhos na direção do flex*/
    border-bottom: var(--borda);
}

#cabecalho>nav {
    width: 85%;
    max-width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    /*Alinha os filhos na direção contraria do flex*/
    justify-content: space-between;
}

#logo-mobile {
    display: none;
}

.cabecalho-acoes {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cabecalho-acoes>a {
    display: flex;
    align-items: center;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    /*mantem a proporção com um zoom para adaptar ao tamanho do elemento*/
    object-position: center;
    border-radius: 50%;
}




/* RESPONSIVO */
@media only screen and (max-width: 500px) {
    #logo-mobile {
        display: initial;
    }

    #logo-desktop {
        display: none;
    }
}