<link rel="stylesheet" href="../css/cadastro.css"

        <main>
            <div>




                <!-- Formulario -->
                <form id="formulario" class="estilo-formulario">
                    <img src="../images/Logo Grande.svg" alt="">

                    <p>Cadastre-se para a comunidade exclusiva de desenvolvedores</p>


                    <div>
                        <label for="">Nome e sobrenome: </label>
                        <input type="text" name="" id="">
                    </div>


                    <div>
                        <label for="">Nome de usuário: </label>
                        <input type="text" name="" id="">
                    </div>



                    <div>
                        <label for="">Email: </label>
                        <input type="email" name="" id="">
                    </div>



                    <div>
                        <label for="">Senha: </label>
                        <input type="password" name="" id="">
                    </div>



                    <label for="file-upload" class="custom-file-upload">
                       Faça upload da sua imagem
                      </label>
                      <input id="file-upload" type="file"/>


                      
                    <button type="submit" class="formulario-botao-verde">Cadastre-se</button>



                    <p>Ao se cadastrar,voce concorda com nossos, Termos,Pooliticas de dados e Politicas de cookies</p>

                </form>


                <!--Secao Conecte-se-->

                <section id="Secao-Conecte-se">
                    <p>Tem uma conta? <a href="../pages/index.html">Conecte-se</a> </p>
                </section>




            </div>
        </main>