<link rel="styleheet" href="../css/perfil.css"
        

 <!-- Inicio header-->
    <header id="cabecalho">
            <nav>
                <img src="../images/logo-devconnect-lg.svg" alt="Logo" width="45">
    
                <div class="cabecalho-acoes">
                    <img src="../images/50 cent imagem.jpg" class="foto-perfil" alt="Foto usuário">
                    <a href="#" class="botao sair">Sair</a>
                </div>
            </nav>
        </header>

        <section class="perfil-container">
            <img src="../images/50 cent imagem.jpg" class="foto-perfil-2" alt="Foto do Perfil">
    
            <div class="perfil-info">
                <div class="perfil-topo">
                    <h2 class="username">Gustavo</h2>
                </div>
    
                <div class="perfil-estatisticas">
                    <p>10 Publicações</p>
                    <p>400 Seguidores</p>
                    <p>180 Seguindo</p>
                </div>
    
                <div class="perfil-acoes">
                    <a href="#" class="botao">Editar perfil</a>
                </div>
            </div>
        </section>

        <hr class="linha-divisoria">

        <!-- PUBLICAÇÕES -->
        <section class="publicacoes">
            <h2><img src="../images/Icone  Table.svg"> Publicações</h2>
    
            <div class="post">
                <div class="post-topo">
                    <img src="../images/50 cent imagem.jpg">
                    <strong>Gustavo</strong>
                </div>
    
                <p class="post-texto">
                    Este é um exemplo de publicação dentro do perfil!
                </p>
    
                <div class="post-acoes">
                    <img src="../images/icone-coracao-preto.svg" alt="Curtir">
                    <img src="../images/icone-comentario-preto.svg" alt="Comentar">
                </div>
    
                <p class="post-curtidas">20 curtidas</p>
                <a href="#" class="ver-comentarios">Ver comentários</a>
            </div>
        </section>
  
  
    

    </html>



