<h1>Pagina de Perfil</h1>
 <!-- Inicio header-->
    <header id="cabecalho">
        <nav>
            <a id="logo-desktop" href="./feed.html">
                <img src="../images/logo-devconnect-lg.svg" alt="Logo da Empresa DevConnect">
            </a>

            <a id="logo-mobile" href="./feed.html">
                <img src="../images/logo-devconnect-sm.svg" alt="Logo da Empresa DevConnect">
            </a>

            <!-- Icones -->
            <div class="cabecalho-acoes">

                <a href="./feed.html">
                    <img src="../images/icone-casa-azul.svg" alt=" Ícone de uma casa na cor azul">

                </a>

                <a href="#">
                    <img src="../images/icone-coracao-azul.svg" alt=" Ícone de um coração na cor azul">

                </a>

                <a href="#">
                    <img class="foto-perfil" src="../images/50 cent imagem.jpg" alt="Foto de perfil">
                </a>
            </div>

        </nav>
    </header>
    <!-- Fim header-->

    <main>
        <!-- Seção do Perfil -->
        <section class="perfil-container">
          <img class="foto-perfil-2" src="../images/50 cent imagem.jpg" alt="Foto de perfil">
    
          <div class="perfil-info">

            <div class="perfil-topo">
              <p class="username">50 Cent</p>
            </div>
    
            <div class="perfil-estatisticas">
              <p><strong>2</strong> publicações</p>
              <p><strong>175</strong> seguindo</p>
              <p><strong>224</strong> seguidores</p>
            </div>
    
            <div class="perfil-acoes">
              <p class="nome-usuario">Gustavo Augusto</p>
              <a href="#" class="botao">Editar Perfil</a>
              <a href="#" class="botao sair">Sair</a>
            </div>

          </div>
        </section>
    
        <hr class="linha-divisoria">
    
        <!-- Seção de Publicações -->
        <section class="publicacoes">
          <h2><img src="../images/Icone  Table.svg" alt="Publicações"> PUBLICAÇÕES</h2>
    
          <article class="post">
            <div class="post-topo">
              <img src="../images/50 cent imagem.jpg" alt="Perfil">
              <p>50 cent</p>

            </div>
            <p class="post-texto">Se você guardar uma coisa tão complicada como o amor aqui dentro (no coração), vai ficar doente.</p>

            <div class="post-acoes">
              <img src="../images/icone-coracao-preto.svg" alt="Curtir">
              <img src="../images/icone-comentario-preto.svg" alt="Comentar">
            </div>
            <p class="post-curtidas">250 curtidas</p>
            <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
          </article>
    
          <article class="post">
            <div class="post-topo">
              <img src="../images/50 cent imagem.jpg" alt="Perfil">
              <p>50 Cent</p>
            </div>
            <p class="post-texto">Com grandes poderes vêm grandes responsabilidades.</p>
            <div class="post-acoes">
              <img src="../images/icone-coracao-preto.svg" alt="Curtir">
              <img src="../images/icone-comentario-preto.svg" alt="Comentar">
            </div>
            <p class="post-curtidas">150 curtidas</p>
            <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
          </article>
    
          <article class="post">
            <div class="post-topo">
              <img src="../images/50 cent imagem.jpg" alt="Perfil">
              <p>50 Cent</p>
            </div>
            <p class="post-texto">Não importa quantas vezes uma cobra troque de pele, ela ainda continua sendo uma cobra.</p>
            <div class="post-acoes">
              <img src="../images/icone-coracao-preto.svg" alt="Curtir">
              <img src="../images/icone-comentario-preto.svg" alt="Comentar">
            </div>
            <p class="post-curtidas">150 curtidas</p>
            <a href="#" class="ver-comentarios">Ver todos os comentários...</a>
          </article>
        </section>
      </main>
    